body{
    margin: 0;
    padding: 0;
    color: rgb(102, 102, 102);
}

a{
    color: rgb(102,102,102);
    text-decoration: none;
}

nav{
    background-color: rgba(128, 128, 128, 0.15);
    display: flex;
    justify-content: center
}

.selection{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 1320px;
    position: relative;
}

.selection__row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav a{
    flex-basis: 15.5%;
    background-color: rgba(128, 128, 128, 0);
    padding: 10px;
    margin: 8px;
    border-top: 1px solid rgba(102, 102, 102, 0.4);
    border-bottom: 1px solid rgba(102, 102, 102, 0.4);
    box-sizing: border-box;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.styles-found{
    font-size: 14px;
    width: 100%;
    text-align: center;
}

figure{
    margin: 5px;
    position: relative;
}

.figures-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
}

figcaption{
    font-size: 15px;
    margin: 8px 0;
}

figure p{
    font-weight: bold;
    font-size: 18px;
}

.floating-heart{
    position: absolute;
    right: 1px;
    bottom: 86px;
}

.white:hover{
    visibility: hidden;
}

.arrow{
    position: absolute;
    top: -22px;
    left: 183px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.arrow__last{
    left: 300px;
}

.popup__display{
    position: absolute;
    top: 55px;
    left: 8px;
    visibility: hidden;
    z-index: 1;
}
.popup__display:target{
    visibility: visible;
}

.popup{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.popup__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 10px 15px;
}

.popup__select-all{
    padding: 5px;
    border: 1px solid rgb(51, 51, 51);
}

.popup__select-all:hover{
    border-color: rgb(0, 80, 250);
    color: rgb(0, 80, 250);
}

.popup__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
}

.popup__content button{
    width: 95%;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.popup__content button p{
    color: rgb(102, 102, 102);
    margin-left: 5px;;
}

.second-popup{
    left: 227px;
}

.third-popup{
    left: 447px;
}

.big-popup{
    width: 36%;
}

.fourth-popup{
    left: 667px;
}

.bigger-popup{
    width: 48%;;
}

.fifth-popup{
    left: 887px;
}

.huge-popup{
    width: 72%;
}

.sixth-popup{
    left: 990px;
}

.huger-popup{
    width: 100%;
}

.top-112{
    top: 112px;
}

@media screen and (max-width: 1320px)
{
    .selection{
        max-width: 1000px;
    }

    nav a{
        flex-basis: 15%;
    }

    .second-popup{
        left: 173px;
    }

    .third-popup{
        left: 340px;
    }

    .fourth-popup{
        left: 506px;
    }

    .fifth-popup{
        left: 672px;
    }

    .sixth-popup{
        left: 700px;
        right: 10px;
    }

    .width-35{
        width: 35%;
    }

    .big-popup{
        width: 45%;
    }

    .bigger-popup{
        width: 60%;;
    }
    
    .huge-popup{
        width: 90%;
    }
    
    .huger-popup{
        width: 100%;
    }

    .arrow{
        position: absolute;
        top: -22px;
        left: 130px;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
    
    .arrow__last{
        left: 265px;
    }
}

@media screen and (max-width: 1000px)
{
    .selection{
        max-width: 665px;
    }

    nav a{
        flex-basis: 14.3%;
    }

    .second-popup{
        left: 119px;
    }

    .third-popup{
        left: 230px;
    }

    .fourth-popup{
        left: 340px;
    }

    .fifth-popup{
        left: 451px;
    }

    .sixth-popup{
        left: 465px;
        right: 8px;
    }

    .width-35{
        width: 35%;
    }

    .big-popup{
        width: 45%;
    }

    .bigger-popup{
        width: 60%;;
    }
    
    .huge-popup{
        width: 90%;
    }
    
    .huger-popup{
        width: 100%;
    }

    .arrow{
        position: absolute;
        top: -22px;
        left: 73px;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
    
    .arrow__last{
        left: 169px;
    }
}

@media screen and (max-width: 665px)
{
    .selection{
        max-width: 320px;
    }

    .selection__row
    {
        display: flex;
        flex-wrap: wrap;
    }

    nav a{
        flex-basis: 45%;
    }

    .fbasis-100{
        flex-basis: 100%;
    }

    .popup__display{
        left: 0;
    }

    .second-popup{
        left: 0;
    }

    .third-popup{
        left: 0;
    }

    .fourth-popup{
        left: 0;
    }

    .fifth-popup{
        left: 0;
    }

    .sixth-popup{
        left: 0;
    }

    .width-100{
        width: 100%;
    }

    .width-35{
        width: 100%;
    }

    .big-popup{
        width: 100%;
    }

    .bigger-popup{
        width: 100%;
    }
    
    .huge-popup{
        width: 100%;
    }
    
    .huger-popup{
        width: 100%;
    }

    .mobile-top112{
        top: 112px;
    }

    .mobile-top169{
        top: 169px;
    }

    .mobile-top225{
        top: 225px;
    }

    .mobile-top281{
        top: 281px;
    }

    .mobile-top337{
        top: 337px;
    }

    figure{
        margin-left: 0;
        margin-right: 0;
    }

    .arrow{
        position: absolute;
        top: -22px;
        left: 130px;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .arrow__last{
        left: 292px;
    }

    .mobile-left292{
        left: 292px;
    }
}